.title{
    color: pink;
    font-size: 42px;
}

.image{
    height: 450px;
    width: auto;
}

.text{
    font-size: 22px;
}

.ingredients{
    color:red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.steps{
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title_two{
    color: gold;
    font-size: 38px;
}

.intro{
    color:cornflowerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#intro-title{
    margin: auto auto 15px;
    text-align: center;
    background-color: rgb(163, 157, 189);
    border: 10px solid red;
    padding: 30px;
    font-size: 50px;
}

#recipe-card{
    width:600px;
    margin: auto;
}

.recipes{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    box-sizing: border-box;
    background-color: aqua;
    border: 10px solid blueviolet;
    margin-bottom: 16px;
}